
@font-face {
  font-family: 'GentiumBasic-Bold';
  src: url('GentiumBasic-Bold.eot?#iefix') format('embedded-opentype'),  url('GentiumBasic-Bold.woff') format('woff'), url('GentiumBasic-Bold.ttf')  format('truetype'), url('GentiumBasic-Bold.svg#GentiumBasic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
