
@font-face {
  font-family: 'GentiumBasic';
  src: url('GentiumBasic.eot?#iefix') format('embedded-opentype'),  url('GentiumBasic.woff') format('woff'), url('GentiumBasic.ttf')  format('truetype'), url('GentiumBasic.svg#GentiumBasic') format('svg');
  font-weight: normal;
  font-style: normal;
}
