
@font-face {
  font-family: 'GentiumBasic-Italic';
  src: url('GentiumBasic-Italic.eot?#iefix') format('embedded-opentype'),  url('GentiumBasic-Italic.woff') format('woff'), url('GentiumBasic-Italic.ttf')  format('truetype'), url('GentiumBasic-Italic.svg#GentiumBasic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
