@charset "UTF-8";
@font-face {
    font-family: 'Fujama';
    src: url('Fonts/14-3961-fujiyama.ttf');
}
.post-item h4{
	font-family:Fujama;
}

/* here you can put your own css to customize and override the theme */
/* ====== BEGIN LOGIN ============= */
#loginModal{}
#loginModal .modal-content, #registerModal .modal-content{
    max-width: 400px;
    margin: auto;
    border: 5px solid #000;
    webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 5px solid rgba(0, 0, 0, 0.3);
}
#loginModal .modal-content .modal-header .close, #registerModal .modal-content .modal-header .close{
    text-indent: 0;
    opacity: inherit;
    border: 1px solid #F37021;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    height: 24px;
    text-align: center;
    width: 24px;
    color: #F37021;
    background: none;
}
/* ===== END LOGIN ============ */
.product-item h3 {
    height: 52px;
}
h3.name-min-height{
    min-height: 52px;
    overflow: hidden;
}
.ajax-load-qa {
		background: url("http://www.vedayroi.vn/img/loading2.gif") no-repeat center center rgb(0, 0, 0);
        position: fixed;
        opacity: 0.6;
        z-index: 99999;
        left: 0;
        background-size: 100px 100px;
        top: 0;
        width: 100%;
        height: 100%;
}
/* ====================== Style for blog ====================== */
body{
    color: #000;
    font-size: 14px;
    line-height: 1.5em;
    background: url(/templates/frontend/version1/images/body_bg.gif) #6f6d72;
    font-family: "Verdana", Arial;
    font-style: normal;
    counter-reset: section;    
}
.header-navigation, .header-navigation .dropdown-menu{
    font: 15px "Verdana";
}
.content-page a{
    color: #46E1FF;
}
.header{
   /* background: url(/templates/frontend/version1/images/nav-bg.jpg) #6f6d72; */
    background: #323031;
    border-top: 3px solid #fef200;
}
.header-navigation > ul > li > a{
    color: #FFF;
    font-weight: 700;
}
.header-navigation > ul > li > a:hover{
    background: #292929;
    color: #fef200;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
}
.header-navigation ul > li.active > a, .header-navigation ul > li > a:hover, 
.header-navigation ul > li > a:focus, .header-navigation ul > li.open > a,
 .header-navigation ul > li.open > a:hover, .header-navigation ul > li.open > a:focus{
    background: #292929;
    color: #fef200;
}

.header-navigation .dropdown-menu{
    background: none;
}
.header-navigation .dropdown-menu li{
    background: #323031;
}
.header-navigation .dropdown-menu li a{
    color: #FFF;
}

.header-navigation .dropdown-menu > li > a:hover{
    background: #292929;
    color: #fef200;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;    
}
.breadcrumb{
    padding: 5px 10px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px;
}
.breadcrumb li a{
    color: #46E1FF;
}
.breadcrumb li a:hover{
    color: #fef200;
    text-decoration: none;
}
.breadcrumb > .active{
    color: #FFF;
}
.detail-content-post, .blog-sidebar{
    padding-top: 15px;
}
.blog-item, .blog-posts{
    /*-webkit-box-shadow: 5px 4px 20px -1px rgba(218,203,70,0.8);
    -moz-box-shadow: 5px 4px 20px -1px rgba(218,203,70,0.8);
    box-shadow: 5px 4px 20px -1px rgba(218,203,70,0.8);
    */
    padding-left: 30px;
    padding-right: 25px;
}
img{
   display: block;
   max-width: 100%;
   height: auto;  
}
.blog-item img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*Content home*/
.title-block{
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 15px !important;
}
.title-block:hover{
    cursor: pointer;
}
.post-item{
  overflow: hidden;
}
.post-item >a img{
    transition:all 1s ease;
    position: relative;
}
.post-item > a:hover img{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
}
.post-item > a:hover .mask{
    display: block;
}
.post-item > a .mask{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.post-item a .icon-link{
    bottom: -100px; margin-bottom: -20px;
}
.post-item > a:hover .icon-link{
    bottom:50%;
}
.post-item h4:before{
    top: -8px;
    width: 0;
    height: 0;
    z-index: 1002;
    content: " ";
    display: block !important;
    position: absolute;
    border-bottom: 8px solid #fef200;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.post-item h4{
    background: #fef200;
    color: #000;
    padding-left:  10px;
    padding-right: 10px;
    position: relative;
    min-height: 50px;
}
.post-item h4 a{
    color: #000;
    text-transform: uppercase;
    /* font-weight: bold; */
    display: block;
    
}
.post-item h4 a:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #007bff transparent;
}
.post-item h4 a:hover{
    color: #000;
     transition: all 1s;
}

/* Begin style footer */
.footer ul.social-footer a, .author-social-icons ul a {
    display: block;
    text-align: center;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fef200;
    border-radius: 50% !important;
    color: #fef200;
    transition: all 1s;
    text-decoration: none;
}

.footer ul.social-footer a:hover{
    background: #FFF;
    color: red;
}

.pre-footer .pre-footer-col h2{
    /* color: #e64946 !important;*/
    color: #fef200 !important;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    background: none !important;
    height: auto !important;
    line-height: 20px !important;
    transition: linear;
     -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
}
.pre-footer .pre-footer-col h2:hover{
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.pre-footer .pre-footer-col li{
    line-height: 24px;
}
.pre-footer .pre-footer-col li span {
    width: 24px;
    line-height: 24px;
    height: 24px;
    text-align: center;
    background: #fef200;
    border-radius: 50% !important;
    color: #0A0A0A;
    margin-bottom: 0;
    font-size: 12px;
    margin-right: 15px;
}
/** author */
.single-author-box { 
    position:relative; 
    background:url(/templates/frontend/version1/images/author_bg.jpg) no-repeat; 
    background-size:cover;
}
.single-author-box .about-the-author {
    background:#fff;
    background:rgba(255,255,255,.9);
    margin-bottom:0;
}
.single-author-box .articles-count { 
    color:#f09217;
    font-size:14px; 
    float:right; 
    font-weight:400;
}
.about-the-author .author_avatar { 
    float:left; 
    margin-right:20px; 
}
.about-the-author .author_avatar img { 
    padding:4px; 
    border:1px solid #e5e5e5;
    border-radius: 50% !important;
}
.about-the-author .author_avatar img:hover{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
}
.about-the-author .author_desc { 
    margin-left:110px;
    position:relative; 
    top:-2px; 
}
.about-the-author .author_desc h3 { 
    font-size:17px; 
    font-weight:700; 
    margin-bottom:3px; 
}
.about-the-author .author_desc p { 
    margin-bottom:8px;
}
.about-the-author .author-social-icons ul li { 
    float: left;
    margin-right: 0.3em;
}
.about-the-author .author-social-icons ul li a { 
    font-size:13px;
    line-height:25px;
}
.about-the-author .author-social-icons ul li.home a { line-height:22px; }
.author-social-icons ul a{
     border-radius: 0 !important;
}
.author-social-icons ul a i{
    line-height: 35px;
    height:  35px;
    width: 35px;
}
/** Galary */
.gallery-item{
  padding-top: 15px;
  padding-bottom: 15px;
}
.gallery-item a {
  display: block;
  position: relative;
}
.gallery-item .zoomix {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;  
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 90;
  background: #000;
  opacity: 0;
  filter: alpha(opacity = 0);

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
.ie7 .gallery-item .zoomix{
  clear: both;
}
.gallery-item a:hover .zoomix{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity:0.4;  
  filter: alpha(opacity = 50);
}
.gallery-item .zoomix .fa-search {
  font-size: 25px;
  line-height: 25px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}
/* Breadcrumb */

h2.title-comment{
    background: #fef200;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 40px;
    padding-top: 0;
    overflow: hidden;
}

h2.title-comment span{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: #2f2f2f;
    height: 40px;
    line-height: 38px;
    display: block;
    text-transform: uppercase;
    width: 185px;
    padding-left: 15px;
}
/* Content blog */
.content-page{
    position: relative;
    padding: 2px;
    color: #ddd;
    height: auto;
    display: block;
}
.blog-posts .row, .blog-item .row{
    background: #4F4E52 url(/templates/frontend/version1/images/item_bg.gif) repeat;
}
.blog-posts h2 a, .blog-item h1{
    text-transform: uppercase;
    font:400 25px "Fujama", Arial, sans-serif;
}
.blog-item h1, .blog-item h2{
    color: #fef200;
}
.blog-item h2{
    font:400 20px "Fujama", Arial, sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
}
.detail-content-post a.more{
    color: #FFF;
    font-weight: bold;
}
.detail-content-post a.more:hover{
    color: #e3e3e3;
    font-weight: bold;
}
.btn-primary{
    background: #232323;
    position: relative;
    color: #FFF;
    z-index: 1;
    display: inline-block;
    font-weight: bold;
}
.btn-primary:hover:after{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.btn-primary:focus{
    outline: none;
}
.btn-primary:after {
    border: 2px solid #EDEDED;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #232323;
    z-index: -1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    transition: 0.2s linear;
}
a.fancybox-button:after{
    content: "";
    position: absolute;
    border: 2px solid #fef200;
    width: 30px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}
a.fancybox-button:hover:after{
    width: 100%;
}
.content-page a:hover{
    color: #fef200;
    text-decoration: none;
     -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
}
.blog-item .row > p, .blog-item .row > a,.blog-item .row > h1, .blog-item .row > h2, .blog-item .row > ul li, 
.blog-item .row > h3, .blog-item .row > h4, .blog-item .row > img, .blog-item-img img,
.blog-item article p{
    margin-left: 10px;
    padding-right: 20px;
    word-wrap: break-word;
}
.blog-item .blog-item-img{
    margin-top: 10px;
}
.blog-posts hr.blog-post-sep{
    margin: 15px -15px;
    background: #4F4E52 url(/templates/frontend/version1/images/item_bg.gif) repeat;
    border-top: 0px dashed #333;
}
.blog-sidebar{
    background: #4F4E52 url(/templates/frontend/version1/images/item_bg.gif) repeat;
}
/* Sidebar blog */
.blog-sidebar h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    line-height: 40px;
    height: 40px;
    margin-top: 0;
    font-family: "Fujama";
    font-weight: 700;
}
.blog-sidebar h2 a{
    display: block;
    color: #000;
}
.content-page{
    background: url(/templates/frontend/version1/images/body_bg.gif) #6f6d72;
    padding-right: 15px !important;
}
.blog-sidebar h2 > span{
    margin-top: 0;
    margin-right: 10px;
    width:50px; 
    float: left;
    text-align: left;
}
.blog-sidebar .panel-heading{
    padding: 0;
}
.front-carousel .carousel-control i{
    line-height:1;
}
.sidebar-categories{
    background: #222;
}
.sidebar-categories li a{
    color: #FFF;
}
.sidebar-categories li > a:hover, 
.sidebar-categories li.active > a, 
.sidebar-categories li.active:hover > a{
    color: #fef200;
    background: #292929;
}
.sidebar-categories li a:before{
    padding-left: 5px;
}
/* Pagination */
.pagination > li > a {
    padding: 10px 20px !important;
    background-color: #333 !important;
    border: 1px solid #555 !important;
    color: #46E1FF !important;
    font-size: 12px;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span {
    background-color: #444 !important;
    color: #fef200 !important;
}
.pagination > li > a, .pagination > li > span, 
.pagination > li:first-child > a, 
.pagination > li:first-child > span, 
.pagination > li:last-child > a,
 .pagination > li:last-child > span{
    border-radius: 0 !important; 
}
.pagination .active > a{
    color: #FFF !important;
}
/* Footer */
.pre-footer {
    border-top: 3px solid #fef200;
}
.recent-news h3 a{
    color: #46E1FF;
}
.recent-news .recent-news-inner p{
    font-size: 14px;
}
.recent-news:after{
    clear: both;
    content: "";
    line-height: 0;
    height: 0;
}
.recent-news{
    padding-right: 30px;
    padding-left: 30px;
}
.recent-news .row{
    border-bottom: 1px dashed #333;
}
.blog-posts p{
    text-align: left;
}
.item-description p{
    text-align: left !important;
    word-wrap: break-word;
    margin-bottom: 5px;
}
.blog-posts .more{
    color: #46E1FF;
}
#accordion1 .panel-title a:hover{
    color: #000;
}
.site-logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-navigation > ul > li > a{
    padding: 43px 12px 44px;    
}
.header-navigation li.menu-search{
    top: 40px;
}
#accordion1 .panel-body{
    color: #000;
}
.header-navigation .dropdown-menu > li.active > a{
    color: #000;
}
.blog-posts h2, .detail-content-post section.item{
    word-break: break-word;
}
.margin-top-5{
    margin-top: 5px !important;
}
/*
#most-view-blog article{
    counter-reset: subsection;
}
#most-view-blog article:before{
     counter-increment: section;
     content: counter(section);
}
*/
.fixed{
    position: fixed;
    z-index: 10000;
    top: 0px;
    width: 100%;
}
#captcha{
    float: left; margin-right: 10px;
}
#capcha_code{
    width: 215px;
    float:left;
    margin-right: 10px;
}
.search-result-item{
    word-break: break-all;
}
.facebook-comment{
    background: #FFF;
}

/* Begin page contact */
#form-contact{
        background: #4F4E52 url(/templates/frontend/version1/images/item_bg.gif) repeat;
}
#map{
    color: #000;
}
/* Home blog */

/** page structure **/
#w {
  display: block;
  max-width: 830px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2px 3px;
}
.do-space{
    text-align: center;
    padding: 35px 0;
}

/** posts slider widget **/
.show_more{
    cursor: pointer;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}
.show_more:hover{
    color: #fef200;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.loding {
    border-top: 10px solid blue;
	border-right: 10px solid #CCC;
	border-bottom: 10px solid red;
	border-left: 10px solid green;	
	border-radius: 50%;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 40%;
	left: 40%;
	animation: spin 2s linear infinite;
}
.loding_txt {
    background-image: url(/templates/frontend/version1/images/loading_16.gif);
    background-position: left;
    background-repeat: no-repeat;
    border: 0;
    display: inline-block;
    height: 16px;
    padding-left: 20px;
}
.gallery-item:before{
    content: "";
    width: 4px;
    position: absolute;
    border: 4px solid orange;
}
.syntaxhighlighter .toolbar{
    display: none !important;
}
.syntaxhighlighter{
    border: solid 1px #ccc !important;
    padding: 10px 0 !important;
}
.carousel-inner{
    max-height: 320px;
}
.site-logo img{
    width: 128px;
}
@media (min-width: 1025px) {
    .header-navigation li.menu-search i{
        color: #FFF;
    }
}

@media(max-width: 1024px){
    .header-navigation li.menu-search,
    .ecommerce .header-navigation li.menu-search {
        top: 0 !important;
        padding: 20px 0 10px;
        position: relative;
    }
    .header .header-navigation li > a, 
    .header .dropdown.open .dropdown-toggle, 
    .header .header-navigation li.open > a{
        border-bottom: 1px solid #FFF !important;
        color: #FFF !important;
    }
    .header .header-navigation{
        background: none;
    }

}


