<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta content='Học lập trình web, học lập trình cơ bản' name='DC.title'/>
  <meta content='VN-SG' name='geo.region'/>
  <meta content='Hồ chí minh' name='geo.placename'/>
  <meta content='14.058324;108.277199' name='geo.position'/>
  <meta content='14.058324, 108.277199' name='ICBM'/>
  <meta content="Giadinhit" name="description">
  <meta content="Giadinhit" name="keywords">
  <meta content="Giadinhit" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

	<title>Giadinhit home page</title>

	<!-- Bootstrap -->
  <link href="plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
 <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7cCookie%7cPT+Serif&amp;subset=all" rel="stylesheet" type="text/css">

  <link href="css/components.css" rel="stylesheet">
  <link href="plugins/responsive-menu/css/menumaker.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div id="wrapper">
    	<header>
          <div class="preheader">
              <div class="container">
                  <div class="row">
                      <!-- BEGIN SOCIAL HEADER -->
                      <div class="col-md-3 additional-blog-info">
                          <div class="preheader-social">
                              <ul class="list-icon social-network social-circle list-inline no-space">
                              <li><a target="_blank" href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                              <li><a target="_blank" href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                              <li><a target="_blank" href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                              <li><a target="_blank" href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                  <!-- END SOCIAL HEADER -->
                  <!-- BEGIN LOGO -->
                    <div class="col-md-6">
                        <h1 id="logo"> <a href="index.html">Giadinhit.com kênh hướng dẫn ôn thi liên thông đại học, lập trình </a> </h1>
                    </div>
                  <!-- END LOGO -->
                  <!-- BEGIN SEARCH -->
                    <div class="col-md-3">
                        <div class="top-search">
                            <form action="#" method="POST">
                              <div class="input-group">
                              <input type="text" name="search" placeholder="Enter your search team.."  class="form-control" required="required" />
                              <span class="input-group-btn ">
                                <button class="btn glyphicon glyphicon-search" type="submit" name="btnSearch"></button>
                              </span>
                            </div>
                          </form>
                        </div>
                    </div> 
                    <!-- END SEARCH -->
                </div>
              </div>
          </div> <!-- End .preheader -->
          
         <div class="container">
           <hr class="line-bottom" />
    
              <nav id="cssmenu" class="top-navigation">
                  
                  <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Entertaiment</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">technology</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">More</a></li>
                </ul>
              </nav>
              
         </div>
    	</header>
		<div class="slider container-fuild">
            <div class="slideshow-container">
                    <!-- BEGIN ITEM 1 -->
                    <div class="mySlides fade">
                        <div class="numbertext">1 / 3</div>
                        <div class="slider-item">
                            <img src="img/slider.jpg" alt="slider" title="slider" class="img-responsive"/>
                            <div class="container">
                                <div class="marker">
                                    <h2>TECHNOLOGY</h2>
                                    <h3><a href="#" title="Inovations at its best and at its worst.">Inovations at its best and at its worst.</a></h3>
                                    <ul class="breadcrumb">
                                        <li>Lida Paymer</li>
                                        <li>27 December 2014</li>
                                        <li>12 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- BEGIN ITEM 2 -->    
                    <div class="mySlides fade">
                        <div class="numbertext">2 / 3</div>
                        <img src="banner_1471623104.jpg-670x250.jpg" class="img-responsive" alt="slider" title="slider" />
                        <div class="text">Caption Two</div>
                    </div>
                        <!-- BEGIN ITEM 3 -->    
                    <div class="mySlides fade">
                        <div class="numbertext">3 / 3</div>
                        <img src="banner_1471623104.jpg-670x250.jpg"  class="img-responsive"  alt="slider" title="slider" />
                        <div class="text">Caption Three</div>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
            </div>
                <br/>
            <!--
            <div class="text-center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            -->       
		</div>
    <!-- END .SLIDER -->

    <!-- BEGIN CONTENT -->
    <div class="main">
      <div class="container">
          <div class="row">
              <div class="content col-md-8">
                <div class="row">
                  <div class="col-md-12 news-block-post">
                      <h2 class="title-popular-post">POPULAR POST</h2>
                  </div>
                  <!-- BEGIN POST ITEM SPECIAL -->
                  <article class="post blog-item blog-item-special col-md-12">
                      <div class="post-content">
                        <figure class="post-media">
                            <a href="#" title="Image post">
                            <img src="img/items01.jpg" class="img-responsive" alt="item special" title="item special" /> 
                            </a>
                        </figure>
                        <div class="post-content-info">
                            <h2 class="post-category">BUSINESS </h2>
                            <h3 class="post-title">Lorem Ipsum is simply dummy text of the </h3>
                            <div class="blog-short-description">
                                orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. I
                            </div>
                            <div class="post-permalink text-center">
                                <ul class="breadcrumb">
                                <li>Lida Paymer</li>
                                <li>27 December 2014</li>
                                <li>12 Comments</li>
                                </ul>
                            </div>
                            <div class="post-morelink">
                                <a href="detail.html" class="btn btn-success">Read More</a>
                            </div>
                        </div>
                            
                     </div>
                  </article>
                  <!-- END POST ITEM SPECIAL -->

                  <article class="post blog-item col-md-6">
                     <div class="post-content">
                        <figure class="post-media">
                            <a href="#" title="Image post">
                            <img src="img/items03.jpg" class="img-responsive" alt="item special" title="item special" /> 
                            </a>
                        </figure>
                         <div class="post-content-info">
                             <h2 class="post-category">BUSINESS </h2>
                            <h3 class="post-title">Lorem Ipsum is simply dummy text of the </h3>
                            <div class="blog-short-description">
                                orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. I
                            </div>
                            <div class="post-permalink text-center">
                                <ul class="breadcrumb">
                                <li>Lida Paymer</li>
                                <li>27 December 2014</li>
                                <li>12 Comments</li>
                                </ul>
                            </div>
                            <div class="post-morelink">
                                <a href="detail.html" class="btn btn-success">Read More</a>
                            </div>
                         </div>
                    </div>
                  </article>

                  <article class="post blog-item col-md-6">
                        <div class="post-content">
                            <figure class="post-media">
                                <a href="#" title="Image post">
                                <img src="img/items02.jpg" class="img-responsive" alt="item special" title="item special" /> 
                                </a>
                            </figure>
                            <div class="post-content-info">
                                <h2 class="post-category">BUSINESS </h2>
                                <h3 class="post-title">Lorem Ipsum is simply dummy text of the </h3>
                                <div class="blog-short-description">
                                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. I
                                </div>
                                <div class="post-permalink text-center">
                                    <ul class="breadcrumb">
                                    <li>Lida Paymer</li>
                                    <li>27 December 2014</li>
                                    <li>12 Comments</li>
                                    </ul>
                                </div>
                                <div class="post-morelink">
                                    <a href="detail.html" class="btn btn-success">Read More</a>
                                </div>
                            </div>
                          
                     </div>
                  </article>

                  <!-- BEGIN POST ITEM SPECIAL VIDEO -->
                  <article class="post blog-item blog-item-special col-md-12">
                      <div class="post-content">
                        <figure class="post-media">
                            <a href="#" title="Image post">
                            <img src="img/items04.jpg" class="img-responsive" alt="item special" title="item special" /> 
                            </a>
                        </figure>
                        <div class="post-content-info">
                            <h2 class="post-category">BUSINESS </h2>
                            <h3 class="post-title">Lorem Ipsum is simply dummy text of the </h3>
                            <div class="blog-short-description">
                                orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. I
                            </div>
                            <div class="post-permalink text-center">
                                <ul class="breadcrumb">
                                <li>Lida Paymer</li>
                                <li>27 December 2014</li>
                                <li>12 Comments</li>
                                </ul>
                            </div>
                            <div class="post-morelink">
                                <a href="detail.html" class="btn btn-success">Read More</a>
                            </div>  
                        </div>    
                     </div>
                  </article>
                  <!-- END POST ITEM SPECIAL VIDEO-->

                  <!-- BEGIN POST ITEM SPECIAL VIDEO -->
                  <article class="post blog-item blog-item-special col-md-12">
                      <div class="post-content">
                        <figure class="post-media">
                           <div class="col-md-6">
                                <a href="#" title="Image post">
                            <img src="img/items05.jpg" class="img-responsive" alt="item special" title="item special" /> 
                            </a>
                            
                           </div>
                           <div class="col-md-6">
                               <div class="row">
                                   <a href="#" title="Image post">
                                    <img src="img/items05-02.jpg" class="img-responsive" alt="item special" title="item special" /> 
                                    </a>
                               </div>
                               <div class="row">
                                    <a href="#" title="Image post">
                                        <img src="img/items05-03.jpg" class="img-responsive" alt="item special" title="item special" /> 
                                    </a>
                               </div>
                           </div>
                        </figure>
                        <div class="clearfix"></div>
                        <div class="post-content-info">
                            <h2 class="post-category">BUSINESS </h2>
                            <h3 class="post-title">Lorem Ipsum is simply dummy text of the </h3>
                            <div class="blog-short-description">
                                orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. I
                            </div>
                            <div class="post-permalink text-center">
                                <ul class="breadcrumb">
                                <li>Lida Paymer</li>
                                <li>27 December 2014</li>
                                <li>12 Comments</li>
                                </ul>
                            </div>
                            <div class="post-morelink">
                                <a href="detail.html" class="btn btn-success">Read More</a>
                            </div>   
                        </div>
                          
                     </div>
                  </article>
                  <!-- END POST ITEM SPECIAL VIDEO-->
                  <div class=" text-center col-md-12 post-pagination">
                      <ul class="pagination">
                              <li><a href="#"><i class="fa fa-long-arrow-left"></i> Prev</a></li>
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li class="active"><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#">Next <i class="fa fa-long-arrow-right"></i></a></li>
                      </ul>
                  </div>
                </div>
                </div>
                <!-- END CONTENT -->
            

              <div class="sidebar col-md-4">
              
                  <!--BEGIN BLOCK PROFILE -->
                  <div class="block block-profile">
                        <div class="profile-sidebar">
                            <div class="profile_cover">
                                <h3 class="text-center">Passionate Blogger</h3>
                                <div class="profile_avatar">
                                    <img src="img/avatar-user.jpg" alt="avatar" title="avatart" class="img-circle img-responsive center-block" />
                                </div>
                            </div>
                            <div class="block-content">
                                <div class="profile-title">
                                    <h3 class="text-center"><a href="#">Mika joines</a> </h3>
                                </div>
                                <div class="profile_description text-center">
                                    Hi, i’m Virgi. Web Designer, Developer since 2009, based in Jakarta, Indonesia. I work at ID-Webmaster as a Web Developer and also Founder of ID-Webmaster.
                                </div>
                            </div>
                        </div>   
                
                  </div>
                  <!-- END BLOCK PROFILE -->
                  <!-- BEGIN POST SIDEBAR -->
                  <div class="block block-post-sidebar">
                      <div class="post-tabs-title">
                          <ul class="nav nav-tabs tabs posts-taps">
                            <li class="tabs active"><a data-toggle="tab" href="#popular-post">Popular post</a></li>
                            <li class="tabs"><a href="#latest-post">Latest post</a></li>
                          </ul>
                      </div>
                      <div class="block-content tab-content">
                        <div id="popular-post" class="tabs-wrap tab-pane fade in active">
                            <ul class="list-unstyled">
                                <li class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#" title="item">
                                            <img src="img/right-item01.jpg" class="img-responsive" title="item" alt="item" />
                                        </a>
                                    </div>
                                    <h3><a href="#">13,000+ People Have Bought Our Theme</a></h3>
                                    <p class="post-date">21 DECEMBER 2015</p>
                                    <div class="post-item-shortdescription">
                                      Still, she’s got a lot of spirit. I don’t know, what do you think? What!? I don’t know what you’re talking about. I am a member of the Imperial Senate o
                                    </div>

                                </li>
                                <li class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#" title="item">
                                            <img src="img/right-item01.jpg" class="img-responsive" title="item" alt="item" />
                                        </a>
                                    </div>
                                    <h3><a href="#">13,000+ People Have Bought Our Theme</a></h3>
                                    <p class="post-date">21 DECEMBER 2015</p>
                                    <div class="post-item-shortdescription">
                                      Still, she’s got a lot of spirit. I don’t know, what do you think? What!? I don’t know what you’re talking about. I am a member of the Imperial Senate o
                                    </div>

                                </li>
                                <li class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#" title="item">
                                            <img src="img/right-item01.jpg" class="img-responsive" title="item" alt="item" />
                                        </a>
                                    </div>
                                    <h3><a href="#">13,000+ People Have Bought Our Theme</a></h3>
                                    <p class="post-date">21 DECEMBER 2015</p>
                                    <div class="post-item-shortdescription">
                                      Still, she’s got a lot of spirit. I don’t know, what do you think? What!? I don’t know what you’re talking about. I am a member of the Imperial Senate o
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div id="latest-post" class="tabs-wrap tab-pane fade">
                            <ul  class="list-unstyled">
                                <li class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#" title="item">
                                            <img src="img/right-item01.jpg" class="img-responsive" title="item" alt="item" />
                                        </a>
                                    </div>
                                    <h3><a href="#">13,000+ People Have Bought Our Theme</a></h3>
                                    <p class="post-date">21 DECEMBER 2015</p>
                                    <div class="post-item-shortdescription">
                                      Still, she’s got a lot of spirit. I don’t know, what do you think? What!? I don’t know what you’re talking about. I am a member of the Imperial Senate o
                                    </div>

                                </li>
                                <li class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#" title="item">
                                            <img src="img/right-item01.jpg" class="img-responsive" title="item" alt="item" />
                                        </a>
                                    </div>
                                    <h3><a href="#">13,000+ People Have Bought Our Theme</a></h3>
                                    <p class="post-date">21 DECEMBER 2015</p>
                                    <div class="post-item-shortdescription">
                                      Still, she’s got a lot of spirit. I don’t know, what do you think? What!? I don’t know what you’re talking about. I am a member of the Imperial Senate o
                                    </div>

                                </li>
                                <li class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#" title="item">
                                            <img src="img/right-item01.jpg" class="img-responsive" title="item" alt="item" />
                                        </a>
                                    </div>
                                    <h3><a href="#">13,000+ People Have Bought Our Theme</a></h3>
                                    <p class="post-date">21 DECEMBER 2015</p>
                                    <div class="post-item-shortdescription">
                                      Still, she’s got a lot of spirit. I don’t know, what do you think? What!? I don’t know what you’re talking about. I am a member of the Imperial Senate o
                                    </div>

                                </li>
                            </ul>
                        </div>
                      </div> 
                  </div>
                  <!-- END POST SIDEBAR -->
                  <!-- BEGIN BLOCK FOLLOW ME -->
                  <div class="block block-followme">
                        <div class="followme-title">
                            <h2 class="title-block">Follow me</h2>
                        </div>
                        <div class="block-content">
                          <div class="follow-link">
                              <ul class="list-unstyled">
                                <li><a href="#" class="follow-facebook"><span><i class="fa fa-facebook"></i></span></a> 1000 Followers</li>
                                <li><a href="#" class="follow-twitter"><span><i class="fa fa-twitter"></i></span></a>  1400 Followers</li>
                                <li><a href="#" class="follow-google-plus"><span><i class="fa fa-google-plus"></i></span></a>  4356 Followers</li>
                                <li><a href="#" class="follow-youtube"><span><i class="fa fa-youtube"></i></span></a>1234 Followers</li>
                              </ul>
                          </div>
                        </div>
                  </div>
                  <!-- END BLOCK FOLLOW ME -->

                    <!-- BEGIN BLOCK CATEGORIES -->
                  <div class="block block-categories">
                        <div class="category-title">
                            <h2 class="title-block">Categories</h2>
                        </div>
                        <div class="block-content">
                          <div class="list-categories">
                              <ul class="list-unstyled">
                                <li><a href="#"><span><i class="fa fa-long-arrow-right"></i></span>News</a> <span class="pull-right">10 </span></li>
                                <li class="active"><a href="#"><span><i class="fa fa-long-arrow-right"></i></span>Entertaiment</a>  <span class="pull-right"> 30</span></li>
                                <li><a href="#"><span><i class="fa fa-long-arrow-right"></i></span>Business </a>  <span class="pull-right">12</span></li>
                                <li><a href="#"><span><i class="fa fa-long-arrow-right"></i></span>technology</a>   <span class="pull-right">23</span></li>
                                <li><a href="#"><span><i class="fa fa-long-arrow-right"></i></span>Mobile stuff</a>  <span class="pull-right">15</span></li>
                                <li><a href="#"><span><i class="fa fa-long-arrow-right"></i></span>Cart</a>   <span class="pull-right">25 </span></li>
                              </ul>
                          </div>
                        </div>
                      
                  </div>
                  <!-- END BLOCK CATEGORIES -->

                  <!-- BEGIN BLOG SLIDER -->
                  <div class="block block-post-slider">
                      <div class="block-content">
                          <div id="myCarouselBlog" class="carousel slide" data-ride="carousel">
                        
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                <img src="img/right-item02.jpg" alt="Chania">
                                <div class="carousel-caption">
                                    <h3>Chania The atmosphere in Chania has a touch of Florence and</h3>
                                </div>
                                </div>
                                    
                                <div class="item">
                                 <img src="img/right-item02.jpg" alt="Chania">
                                <div class="carousel-caption">
                                    <h3>Chania</h3>
                                    <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                                </div>
                                </div>

                                <div class="item">
                                 <img src="img/right-item02.jpg" alt="Chania">
                                <div class="carousel-caption">
                                    <h3>Flowers</h3>
                                    <p>Beatiful flowers in Kolymbari, Crete.</p>
                                </div>
                                </div>

                                <div class="item">
                               <img src="img/right-item02.jpg" alt="Chania">
                                <div class="carousel-caption">
                                    <h3>Flowers</h3>
                                    <p>Beatiful flowers in Kolymbari, Crete.</p>
                                </div>
                                </div>
                            
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarouselBlog" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarouselBlog" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            </div>      
                      </div>
                  </div>
                  <!-- END BLOG SLIDER -->
                  <!-- BEGIN BLOG VIDEO -->
                  <div class="block block-post-video">
                      <div class="block-content">
                        <div class="post-video">
                            <!-- <img src="img/right-item03.jpg" alt="post video" title="post video" class="img-responsive" /> -->
                            <iframe src="https://www.youtube.com/embed/cp1lRkqRSps?theme=light&autoplay=0&vq=hd720&wmode=opaque&rel=0&showinfo=0&modestbranding=1&version=3&ps=docs&nologo=0&color=white&iv_load_policy=3&cc_load_policy=1&widgetid=1" allowfullscreen="" ></iframe>
                        </div>
                      </div>
                  </div>
                  <!-- END BLOG VIDEO -->

                    <!-- BEGIN BLOCK FLICKR PHOTO -->
                  <div class="block block-flickr">
                        <div class="flickr-title">
                            <h2 class="title-block">Flickr photo</h2>
                        </div>
                        <div class="block-content">
                          <div class="list-flickr-photo">
                            <ul class="list-inline">
                              <li><a href="#"><img src="img/flick_01.jpg" alt="flick photo"  title="flick photo"></a></li>
                              <li><a href="#"><img src="img/flick_02.jpg" alt="flick photo"  title="flick photo"></a></li>
                              <li><a href="#"><img src="img/flick_03.jpg" alt="flick photo"  title="flick photo"></a></li>
                              <li><a href="#"><img src="img/flick_04.jpg" alt="flick photo"  title="flick photo"></a></li>
                              <li><a href="#"><img src="img/flick_05.jpg" alt="flick photo"  title="flick photo"></a></li>
                              <li><a href="#"><img src="img/flick_06.jpg" alt="flick photo"  title="flick photo"></a></li>
                              <li><a href="#"><img src="img/flick_07.jpg" alt="flick photo"  title="flick photo"></a></li>
                              <li><a href="#"><img src="img/flick_08.jpg" alt="flick photo"  title="flick photo"></a></li>
                            </ul>
                          </div>
                         <div class="clearfix"></div>
                        </div>
                  </div>
                  <!-- END BLOCK FLICKR PHOTO -->

                  <!-- BEGIN BLOCK NEWSLETTER-->
                  <div class="block block-newsletter">
                      <div class="newsletter-title">
                          <h2 class="text-center"> Subscribe now </h2>
                      </div>
                      <div class="block-content">
                        <p>It is a long established fact that a reader will be distracted by the readable</p>
                        <form action="#" method="POST">
                          <div class="form-group">
                            <input type="email" placeholder="youremail@mail.com" class="form-control" required="required">
                          </div>
                          <div class="form-action text-center">
                                <button class="btn btn-success text-uppercase" type="submit">Subscribe now</button>
                          </div>
                        </form>
                      </div>
                  </div>
                  <!-- END BLOCK NEWSLETTER -->
              </div>
          </div>
      </div>
      
   </div>
   <!--
		<div class="footer col-md-12">
			Footer
		</div>
    -->
    <footer id="footer" class="">
        <a href="#" id="backtotop"><i class="fa fa-long-arrow-up"></i></a>
        <div class="menu-bottom center-block container">
               <ul class="topnav" id="myTopnav">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Write for us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li class="icon">
                            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                        </li>
              </ul>
            <hr class="line-bottom" />
        </div>
        <div class="copyright text-center" style="line-height: 60px;">
            &copy;2016 Giadinhit.com. All rights reserved
        </div>
    </footer>
</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="plugins/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="plugins/responsive-menu/js/menumaker.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>
  <script type="text/javascript">
    $("#cssmenu").menumaker({
      title: "Menu",
      format: "multitoggle"
    });
</script>
<script>
/*
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 4000); // Change image every 2 seconds
}
*/
</script>
<!--
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>
-->
</body>

</html>